$fontFamily: 'Open Sans', sans-serif;
$whiteColor: #ffffff;
$blackColor: #000000;
$backGroundColorBlack: rgba(0, 0, 0, 0.5);
$articleBackGround: #f3f3f3;
$darkGrayColor: #343638;
$lightGrayColor: #A4A4A4;
$lastTweetColor: #E8E8E8;
$footerBorderColor: #f0f0f0;
$footerContentColor: #9E9E9E;
