$fontFamily: sans-serif;
$contentBackground: white;
$mainColor: #07bbc9;
$borderColor: #43b0ae;
$articleColor: #e6e6e6;
$descriptionColor: #39a71f;
$headerColor: #248b94;
$paragraphColor: #127078;
$buttonTextColor: white;
$borderColorInp: #617d8a;