$fontFamily: serif;
$contentBackground: #e6e6e6;
$mainColor: #fc5830;
$borderColor: silver;
$articleColor: white;
$descriptionColor: #bdbdbd;
$headerColor: #617d8a;
$paragraphColor: #757580;
$buttonTextColor: white;
$borderColorInp: #cfd8dc;
